@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Raleway|Righteous|Oswald|Abel|Muli:900|Titillium+Web:900";
@import "https://use.fontawesome.com/releases/v5.8.1/css/all.css";
html {
  font-family: 'Raleway';
  scroll-behavior: smooth; }

nav {
  margin: 0; }

h1 {
  width: 450px;
  word-wrap: break-word;
  text-transform: uppercase;
  color: #f0ffff;
  font-family: 'Titillium Web';
  letter-spacing: 10px;
  font-size: 80px; }

h2 {
  font-family: 'Titillium Web';
  color: #f0ffff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
  font-size: 60px;
  letter-spacing: 5px;
  height: 250px; }
  h2.skills {
    color: #3d475f;
    height: 200px; }

h3 {
  font-family: 'Raleway';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 30px;
  color: #778FAB;
  margin: 0; }

h4 {
  color: #98adc2;
  font-family: 'Raleway';
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px; }

img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%; }

.navbar-brand {
  width: 30%; }
  .navbar-brand .logo {
    width: 20%; }

.nav-item {
  text-transform: uppercase;
  margin-right: 40px;
  letter-spacing: 1px;
  font-weight: 500; }

.nav-link:hover {
  position: relative;
  border-bottom: 2px dotted #ffff00;
  height: 40px; }

.hero {
  height: 806px;
  background-image: linear-gradient(rgba(144, 154, 181, 0.7), rgba(144, 154, 181, 0.7)), url(../images/bg-image.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .hero section {
    margin-top: 90px;
    margin-left: 160px; }
  .hero span {
    color: #ffff00; }
  .hero p {
    margin-top: 30px;
    font-family: 'Abel';
    color: #f0ffff;
    font-size: 25px;
    letter-spacing: 3px; }

.about-me-block {
  background-color: #3d475f;
  padding: 30px;
  width: 700px;
  height: 200px;
  position: absolute;
  top: 114%;
  left: 11.5%; }
  .about-me-block p {
    color: #f0ffff; }
  .about-me-block div {
    text-align: center;
    padding-top: 30px; }
    .about-me-block div button {
      background-color: #909AB5;
      opacity: 0.8;
      border: none;
      margin: auto;
      padding: 10px;
      border-radius: 5px;
      width: 140px; }
      .about-me-block div button a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        margin: auto; }
        .about-me-block div button a:hover {
          color: #ffff00; }

.my-skills-section {
  background-image: url(../images/computer-device-electronics-872958.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  background-position: center;
  border-bottom: 1px solid #ffff00; }
  .my-skills-section div {
    margin: auto;
    width: 450px; }
    .my-skills-section div.skills {
      text-align: center; }
  .my-skills-section i {
    font-size: 40px;
    border: #000 solid 3px;
    margin: auto;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 50%;
    background-color: #80808080; }

.experience-section {
  margin: 0 auto;
  width: 800px;
  padding: 70px 0; }
  .experience-section p:nth-of-type(odd) {
    font-weight: bold;
    line-height: 30px; }
  .experience-section p:nth-of-type(even) {
    height: 55px; }
  .experience-section div:nth-of-type(even) {
    margin-left: 50px; }

.portfolio-section {
  background-color: #3d475f;
  height: 640px; }
  .portfolio-section section {
    position: relative;
    width: 50%; }
    .portfolio-section section.projects {
      height: 200px;
      width: 1300px;
      margin: auto; }
      .portfolio-section section.projects div {
        width: 430px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: .5s ease;
        background-color: #000; }
        .portfolio-section section.projects div button {
          background-color: #f0ffff;
          padding: 5px;
          width: 100px;
          border: none;
          border-radius: 2px;
          font-size: 20px;
          position: absolute;
          top: 70%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
          opacity: 1; }
          .portfolio-section section.projects div button a {
            text-decoration: none;
            font-size: 15px;
            color: #000; }
      .portfolio-section section.projects section {
        padding: 0;
        width: 500px; }

.container:hover .overlay {
  opacity: 0.9; }

.contact-me {
  height: 160px;
  text-align: center;
  padding-top: 20px;
  background-image: linear-gradient(rgba(144, 154, 181, 0.7), rgba(144, 154, 181, 0.7)), url(../images/qd6ZpU.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .contact-me i {
    font-size: 30px;
    margin: 30px;
    color: #f0ffff;
    border-radius: 50%;
    background-color: #3d475f;
    height: 60px;
    width: 60px;
    padding: 16px; }
    .contact-me i:hover {
      background-color: #ffff00;
      height: 60px;
      color: #3d475f; }
  .contact-me .menu-items {
    font-size: 17px;
    word-spacing: 30px; }
    .contact-me .menu-items a {
      color: #ffff00;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 3px; }

footer {
  background-image: linear-gradient(rgba(144, 154, 181, 0.7), rgba(144, 154, 181, 0.7)), url(../images/qd6ZpU.jpg);
  height: 50px;
  padding-top: 20px; }
  footer p {
    color: #f0ffff;
    margin: 0;
    text-align: center;
    letter-spacing: 1px; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #c9b3a4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  font-weight: bold; }

.my-skills {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(4, 100px); }

.experience-section {
  display: grid;
  grid-gap: 1.25rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "education experience"; }

.projects {
  display: grid;
  grid-template-columns: repeat(3, 430px); }

/*# sourceMappingURL=main.css.map */
