@import 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css';
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css?family=Raleway|Righteous|Oswald|Abel|Muli:900|Titillium+Web:900|Dancing+Script';
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import 'https://unpkg.com/aos@2.3.1/dist/aos.css';



* {
    font-family: 'Raleway';
    scroll-behavior: smooth;
}

nav {
    margin: 0;
}

h1 {
    width: 28.125rem;
    word-wrap: break-word;
    text-transform: uppercase;
    color: $color-body;
    font-family: 'Titillium Web';
    letter-spacing: 0.625rem;
    font-size: 5rem;
}

h2 {
    font-family: 'Titillium Web';
    color: $color-body;
    text-transform: uppercase;
    text-align: center;
    padding-top: 3.75rem;
    font-size: 3.75rem;
    letter-spacing: 0.3125rem;
    height: 15.625rem;
    &.skills {
        color: $cloud-burst;
        height: 12.5rem;       
    }
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.75rem;   
    font-size: 1.875rem;
    color: #778FAB;
    margin: 0;
} 

h4 {
    color: $light-blue;
    font-family: 'Raleway';
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.3125rem;
}

img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

footer {
    background: $cloud-burst;
    height: 3.125rem;
    padding-top: 1.25rem;
    p {
        color: $color-body;
        margin: 0;
        text-align: center;
        letter-spacing: 0.0625rem;
    }
}