// Back to top button
#myBtn {
    display: none;
    position: fixed;
    bottom: 0.625rem;
    right: 1.875rem;
    z-index: 99;
    font-size: 1.125rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #c9b3a4;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
}