// Back to top button
#myBtn {
    display: none;
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 99;
    font-size: 120%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #c9b3a4;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}