.my-skills {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: repeat(4, 6.25rem);

}

.experience-section {
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "education experience"
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 26.875rem);
   
}