// Media Queries

@media only screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1339px) {

    h1 {
        font-size: 58px;
    }

    h2 {
        padding-top: 3.75rem;
        font-size: 2.8125rem;
        letter-spacing: 0.25rem;
        height: 9.375rem;
    }
    
    

    .nav-item {
        text-transform: uppercase;
        margin-right: 2.5rem; 
        letter-spacing: 0.0625rem;
        font-weight: 500;
    }

    .hero {
        height: 50rem;
        background-image: linear-gradient($color-shadow-light, $color-shadow-light), url(../images/bg-image2.png); 
        background-position: left;
        section {
            margin-top: 5.625rem;
            margin-left: 60px
        }
    }
    .about-me-block {
        border: none;
        padding: 0.9375rem;
        width: 478px;
        top: 126%;
        left: 0;
        p {
            font-size: 1.25rem;
        }
        section {
            font-size: 0.9375rem;
            letter-spacing: 0;
            line-height: 22px;
            margin-bottom: 0;
        }
    }

    .my-skills-section {
        height: 40rem;       
        div {
            margin: auto;
            width: 20.625rem;
            &.my-skills{
                grid-gap: 5rem;
            }
        }
    }
    
    .portfolio-section {
        height: 50rem;
        section {
            position: relative;
            grid-template-columns: repeat(1, 62.5rem);
            height: 12.5rem;
            margin-bottom: 10px;
            &.projects {
                height: 25rem;
                width: 62.5rem;
                margin: auto;
                section {
                   img {
                        height: 500px;
                        width: 500px;
                    }
                }
            }
        }
    }
    

}

// ------------------- //
@media only screen 
  and (min-device-width: 1001px) 
  and (max-device-width: 1024px) {

    h1 {
        font-size: 58px;
    }

    h2 {
        padding-top: 3.75rem;
        font-size: 2.8125rem;
        letter-spacing: 0.25rem;
        height: 9.375rem;
    }
    
    

    .nav-item {
        text-transform: uppercase;
        margin-right: 2.5rem; 
        letter-spacing: 0.0625rem;
        font-weight: 500;
    }

    .hero {
        height: 50rem;
        background-image: linear-gradient($color-shadow-light, $color-shadow-light), url(../images/bg-image2.png); 
        background-position: left;
        section {
            margin-top: 5.625rem;
            margin-left: 60px
        }
    }
    .about-me-block {
        border: none;
        padding: 0.9375rem;
        width: 466px;
        top: 125.9%;
        left: 0;
        p {
            font-size: 1.25rem;
        }
        section {
            font-size: 0.9375rem;
            letter-spacing: 0;
            line-height: 22px;
            margin-bottom: 0;
        }

        div {
            button {
                padding: 7px;
            }
        }
    }

    .my-skills-section {
        height: 40rem;       
        div {
            margin: auto;
            width: 20.625rem;
            &.my-skills{
                grid-gap: 5rem;
            }
        }
    }
    
    .portfolio-section {
        height: 50rem;
        section {
            position: relative;
            grid-template-columns: repeat(1, 62.5rem);
            height: 12.5rem;
            margin-bottom: 10px;
            &.projects {
                height: 25rem;
                width: 62.5rem;
                margin: auto;
                section {
                   img {
                        height: 500px;
                        width: 500px;
                    }
                }
            }
        }
    }
    

}


@media only screen 
    and (min-device-width: 481px)
    and (max-device-width: 1000px) {
        h1 {
            width: 15.625rem;
            line-height: 3.75rem;
            height: 12.5rem;
            font-size: 2.8125rem;
            letter-spacing: 0.3125rem;
        }

        h2 {
            padding-top: 2.5rem;
            font-size: 2.8125rem;
            letter-spacing: 0.3125rem;
            height: 7.5rem;
            &.skills {
                height: 9.0625rem;  
                padding-top: 2.5rem;     
            }
        }
    
        h3 {
            text-align: center;
            letter-spacing: 0.625rem;  
            font-size: 1.875rem;
        } 
        
        h4 {
            text-align: center;
            font-size: 1.125rem;
            margin: 1.25rem 0;
            letter-spacing: 0.1875rem;
        }

        .hero {
            height: 43.75rem;
            background-image: linear-gradient($color-shadow-light, $color-shadow-light), url(../images/profile-image.png);
                    
            section {
                margin-left: 5rem
            }        
            p {
                margin-top: 0;
                font-size: 1.25rem;
                width: 18.75rem;
                letter-spacing: 0.1875rem;
                line-height: 1.875rem
            }
        }

        .about-me-block {
            padding: 0.9375rem;
            width: auto;
            height: 200px;
            position: absolute;
            top: 105%;
            left: 0;
            p {
                font-size: 1.125rem;
            }
            section {
                font-size: 0.9375rem;
                letter-spacing: 0;
                line-height: 22px;
                margin-bottom: 15px;
            }
            div {
                padding: 0;
            
                button {
                    padding: 5px;
                    width: 6.25rem;
                    a {
                        font-size: 0.875rem;
                    }
                }
            }
        }
    
        .my-skills-section {
            height: 35.625rem; 
            background-position: right;
    
            div {
                margin: 0 auto;
                width: auto;
                &.my-skills{
                    grid-gap: 30px;
                    grid-template-columns: repeat(3, auto);
                    width: 28.75rem;
                    }
                }
               
            }
    
    
        .experience-section {
            width: auto;
            padding: 20px 20px;  
    
            .experience-grid {
                margin: 0 auto;
                width: auto;
                display: block; 

                p {
                    text-align: center;
                }
                
                p:nth-of-type(odd) {
                    font-weight: bold;
                    line-height: 1.5625rem;
                }
            
                    p:nth-of-type(even) {
                        height: 3.125rem;
                    }
                
    
                div:nth-of-type(even) {
                margin: 0;
                }
            }
        }
    
        .portfolio-section {
            height: 50rem;
            section {
                height: 12.5rem;
                &.projects {
                    width: 450px;
                    display: block;
                    grid-template-columns: 1fr;
                    section {
                        width: 450px;
                        margin: 0;
                        margin-top: 20px;
                        img {
                            height: 200px;
                            width: 700px;
                            margin-right: 0;
                        }
                        div {
                            width: 450px;
                            height: 200px;
                        }
                    }
                }
            }
        }
    
        .contact-me {
            height: 9.375rem;
            text-align: center;
            i {
                font-size: 1.25rem;
                margin: 1.25rem;
                height: 2.5rem;
                width: 2.5rem;
                padding: 0.625rem;
            }
    
            .menu-items {
                font-size: 0.75rem;
                word-spacing: 0.3125rem;
                margin-top: 0.75rem;
            }
        }
    
        footer {
            height: 3.125rem;
            padding-top: 20px;
            p {
                letter-spacing: 0.0313rem;
                font-size: 0.5rem;
            }
        }
    }



// -------------------------//

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {
    h1 {
        width: 14.0625rem;
        letter-spacing: 0.4375rem;
        line-height: 3.125rem;
        font-size: 38px;
    }

    h2 {
        padding-top: 2.5rem;
        font-size: 2.8125rem;
        letter-spacing: 0.3125rem;
        height: 6.25rem;
        &.skills {
            height: 9.0625rem;  
            padding-top: 2.5rem;     
        }
    }

    h3 {
        text-align: left;
        letter-spacing: 0.625rem;  
        font-size: 1.5625rem;
    } 
    
    h4 {
        font-size: 1.125rem;
        margin: 1.25rem 0;
        letter-spacing: 0.1875rem;
    }

    .hero {
        height: 37.5rem;
        background-position: left;
    
        section {
            margin-top: 4.375rem;
            margin-left: 3.75rem
        }    
        p {
            margin-top: 0.625rem;
            line-height: 1.875rem;
            font-size: 1.125rem;
            letter-spacing: 0.1875rem;
        }
    }

    .about-me-block {
        background-color: $cloud-burst;
        padding: 0.9375rem 1.125rem;
        width: auto;
        height: 180px;
        position: absolute;
        top: 93%;
        left: 0;
        p {
            color: $color-body;
            font-family: 'Abel';
            font-size: 15px;
        }
        section {
            font-size: 12px;
            letter-spacing: 0;
            line-height: 19px;
        }
        div {
            button {
                padding: 0.3125rem;
                width: 6.25rem;
                a {
                    font-size: 0.875rem;
                }
            }
        }
    }

    .my-skills-section {
        height: 670px;     
        div {
            margin: 0 auto;
            width: auto;
            &.my-skills{
                grid-gap: 30px;
                grid-template-columns: repeat(2, auto);
                }
            }
            i {
                font-size: 1.875rem;
                width: 5rem;
                height: 5rem;
                padding: 1.25rem 0.625rem;
                margin-bottom: 1.25rem;
            p {
                font-size: 12px;
                margin-top: 35px;
            }
        }
    }

    .experience-section {
        width: auto;
        padding: 20px 20px;  

        .experience-grid {
            margin: 0 auto;
            width: auto;
            display: block; 

            div:nth-of-type(even) {
            margin: 0;
            }
        }
    }

    .portfolio-section {
        height: 50rem;
        section {
            height: 12.5rem;
            &.projects {
                height: 25rem;
                width: 300px;
                display: block;
                grid-template-columns: repeat(1, 26.875rem);
                section {
                    width: 300px;
                    margin: 0;
                    margin-top: 20px;
                    img {
                        height: 200px;
                        width: 300px;
                        margin-right: 0;
                    }
                    div {
                        width: 300px;
                        height: 200px;
                        p {
                            color: $color-body;
                            text-align: center;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }

    .contact-me {
        height: 9.375rem;
        text-align: center;
        i {
            font-size: 1.25rem;
            margin: 1.25rem;
            height: 2.5rem;
            width: 2.5rem;
            padding: 0.625rem;
        }

        .menu-items {
            font-size: 0.625rem;
            word-spacing: 0.3125rem;
            margin-top: 0.75rem;
        }
    }

    footer {
        height: 3.125rem;
        padding-top: 20px;
        p {
            letter-spacing: 0.0313rem;
            font-size: 0.5rem;
        }
    }

}

// ----------------- //

@media only screen 
  and (min-device-width: 200px) 
  and (max-device-width: 319px ) {
    h1 {
        width: 14.0625rem;
        letter-spacing: 0.4375rem;
        line-height: 3.125rem;
        font-size: 38px;
    }

    h2 {
        padding-top: 2.5rem;
        font-size: 2.8125rem;
        letter-spacing: 0.3125rem;
        height: 6.25rem;
        &.skills {
            height: 9.0625rem;  
            padding-top: 2.5rem;     
        }
    }

    h3 {
        text-align: left;
        letter-spacing: 0.625rem;  
        font-size: 1.5625rem;
    } 
    
    h4 {
        font-size: 1.125rem;
        margin: 1.25rem 0;
        letter-spacing: 0.1875rem;
    }

    .navbar-brand {
        .logo {
            width: 40%;
        }
    }

    .hero {
        height: 500px;
        background-position: left;
    
        section {
            margin-top: 4.375rem;
            margin-left: 30px
        }    
        p {
            margin-top: 0.625rem;
            line-height: 1.875rem;
            font-size: 1.125rem;
            letter-spacing: 0.1875rem;
        }
    }

    .about-me-block {
        background-color: $cloud-burst;
        padding: 0.8125rem 0.9375rem;
        width: 300px;
        height: 193px;
        position: absolute;
        top: 78%;
        left: 0;
        p {
            color: $color-body;
            font-family: 'Abel';
            font-size: 15px;
            margin-bottom: 0;
        }
        section {
            font-size: 12px;
            letter-spacing: 0;
            line-height: 19px;
        }
        div {
            button {
                padding: 0.3125rem;
                width: 6.25rem;
                a {
                    font-size: 0.875rem;
                }
            }
        }
    }

    .my-skills-section {
        height: 670px;     
        div {
            margin: 0 auto;
            width: auto;
            &.my-skills{
                grid-gap: 20px;
                grid-template-columns: repeat(2, 140px);
                }
            }
            i {
                font-size: 1.875rem;
                width: 5rem;
                height: 5rem;
                padding: 1.25rem 0.625rem;
                margin-bottom: 1.25rem;
            p {
                font-size: 12px;
                margin-top: 35px;
            }
        }
    }

    .experience-section {
        width: auto;
        padding: 20px 20px;  

        .experience-grid {
            margin: 0 auto;
            width: auto;
            display: block; 

            div:nth-of-type(even) {
            margin: 0;
            }
        }
    }

    .portfolio-section {
        height: 50rem;
        
        section {
            height: 12.5rem;
            &.projects {
                height: 25rem;
                width: 300px;
                display: block;
                grid-template-columns: repeat(1, 26.875rem);
                section {
                    width: 300px;
                    margin: 0;
                    margin-top: 20px;
                    img {
                        height: 190px;
                        width: 300px;
                        margin-right: 0;
                    }
                    div {
                        width: 300px;
                        height: 190px;
                        p {
                            color: $color-body;
                            text-align: center;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }

    .contact-me {
        height: 9.375rem;
        text-align: center;
        i {
            font-size: 1.25rem;
            margin: 1.25rem;
            height: 2.5rem;
            width: 2.5rem;
            padding: 0.625rem;
        }

        .menu-items {
            font-size: 0.625rem;
            word-spacing: 0.3125rem;
            margin-top: 0.75rem;
        }
    }

    footer {
        height: 3.125rem;
        padding-top: 20px;
        p {
            letter-spacing: 0.0313rem;
            font-size: 0.5rem;
        }
    }

}


  