.navbar-brand {
    width: 30%; 
    .logo {
        width: 20%;
    }
}

.nav-item {
    text-transform: uppercase;
    margin-right: 40px;
    letter-spacing: 1px;
    font-weight: 500;
}



.nav-link:hover {
    position: relative;
    border-bottom: 2px dotted yellow;
    height: 40px;
}

.hero {
    height: 806px;
    background-image: linear-gradient($color-shadow-light, $color-shadow-light), url(../images/bg-image.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;

    section {
        margin-top: 90px;
        margin-left: 160px
    }

    span {
        color: yellow;
    }

    p {
        margin-top: 30px;
        font-family: 'Abel';
        color: $color-text-light;
        font-size: 25px;
        letter-spacing: 3px;
    }
}

.about-me-block {
    background-color: #333B50;
    padding: 30px;
    width: 700px;
    height: 200px;
    position: absolute;
    top: 114%;
    left: 11.5%;
    p {
        color: $color-text-light;
    }
    div {
        text-align: center;
        padding-top: 30px;
      button {
        background-color: $color-text-blue;
        opacity: 0.8;
        border: none;
        margin: auto;
        padding: 10px;
        border-radius: 5px;
        width: 140px;
        a {
            text-decoration: none;
            color: $color-text-dark;
            font-weight: bold;
            margin: auto;
            &:hover {
                color: yellow;

            }
            }
        }
    }
}

.my-skills-section {
    background-image: url(../images/abstract-architecture-building-exterior-593158.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 650px; 
    
    div {
        margin: auto;
        width: 710px;
        &.skills {
            text-align: center;
        }
    }

    i {
        font-size: 40px;
        border: black solid 3px;
        margin: auto;
        width: 100px;
        height: 100px;
        text-align: center;
        padding: 30px 20px;
        border-radius: 50%;
        background-color: rgba(128, 128, 128, .5);
    }
}

.experience-section {
    margin: 0 auto;
    width: 800px;
    padding: 70px 0;
    
    p:nth-of-type(odd) {
        font-weight: bold;
        line-height: 30px;
    }

    div:nth-of-type(even) {
        margin-left: 50px;
    }
}

.portfolio-section {
    background-color: #333B50;
    height: 640px;
    section {
        position: relative;
        width: 50%;
        &.projects {
            height: 200px;
            width: 1300px;
            margin: auto;
            div {
                width: 436px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
                transition: .5s ease;
                background-color: $color-text-dark;

                button { 
                    background-color: yellow;
                    border: none;
                    border-radius: 5px;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    text-align: center;
                    opacity: 1;
                    a {
                        text-decoration: none;
                        font-size: 15px;
                    }
                }
            }

            section {
                padding: 0;
                width: 500px;
            }
        }
    }
}

  .container:hover .overlay {
    opacity: 1;
}


.contact-me {
    height: 140px;
    text-align: center;
    padding-top: 20px;
    background-image: url(../images/abstract-architecture-building-exterior-593158.jpg);   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    i {
        font-size: 40px;
        margin: 30px;
        color: $color-text-light;
        &:hover {
            color: $color-text-dark;
        }
    }
}

footer {
    background-color: #909AB5;
    height: 50px;
    padding-top: 20px;
    p {
        color: $color-text-dark;
        margin: 0;
        text-align: center;
    }
}


// Back to top button
#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #c9b3a4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
