.nav-item {
    text-transform: uppercase;
    margin-right: 15%;
    letter-spacing: 0.0625rem;
    font-weight: 500;
}

.nav-link {
    color: rgba(0,0,0,.5);
    
    &:hover {
        position: relative;
        border-bottom: 0.125rem dotted $color-prim;
        height: 2.5rem;
        color: $color-text-dark;
    }
}    

.hero { 
    height: 900px;
    background-image: linear-gradient($color-shadow-light, $color-shadow-light), url(../images/bg-image.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;

	.heading { 
        margin-top: 5.625rem;
        padding-left: 10rem;

		h1 { 
			.punctuation { 
                color: $color-prim;
                font-family: 'Titillium Web';
			}
		}

		.title { 
            margin-top: 1.875rem;
            font-family: 'Abel';
            color: $color-body;
            font-size: 1.5625rem;
            letter-spacing: 0.1875rem;
		}
	}

	.about-me-block { 
        background-color:$color-text-blue;
        padding: 16px;
        width: 630px;
        height: 300px;
        margin-bottom: 0;
        font-size: 1.375rem;
        position: static;
        margin-left: 10rem;

		.about-me { 
            color: $color-body;
            font-family: 'Abel';
            font-size: 22px;
            margin-bottom: 20px;
            padding-top: 0;
		}
		.contact-details { 
            color: $color-prim;
            text-align: center;
            letter-spacing: 1px;
            line-height: 27px;
            font-size: 15px;
		}
		.link-btns { 
            text-align: center;
            padding-top: 10px;
            margin: auto;
            button {
                opacity: 0.8;
                font-size: 12px;
                border: none;
                padding: 0.3125rem;
                border-radius: 0.3125rem;
                width: 150px;
                .pulse { 
                    animation-name: pulse_animation;
                    animation-duration: 5000ms;
                    transform-origin:70% 70%;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
				a { 
                    text-decoration: none;
                    color: $cloud-burst;
                    font-size: 0.9375rem;
                    font-weight: bold;
                    margin: auto;
                        &:hover {
                            color: $color-text-light;
				    }
			    }
		    }
	    }
    }
}

@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

.my-skills-section {
    background-image: url(../images/computer-device-electronics-872958.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 40.625rem; 
    background-position: center;
    border-bottom: 0.0625rem solid $color-prim;
    
    div {
        margin: auto;
        width: 20.625rem;
    }

    i {
        font-size: 2.5rem;
        border: $color-text-dark solid 0.1875rem;
        margin: auto;
        width: 6.25rem;
        height: 6.25rem;
        text-align: center;
        padding: 1.875rem 1.25rem;
        border-radius: 50%;
        background-color: #80808080;
        &:hover {
            background-color: #ffff00c0;
            
        }
        &:hover  p {
            display: block;
            transition-duration: 5s;
            transition-delay: 2s;
        }
        
        p {
            font-size: 0.875rem;
            margin-top: 3.125rem;
            font-family: 'Raleway';
            font-weight: bold;
            display: none;
        }
    }
}


.experience-section {
    margin: 0 auto;
    width: 50rem;
    padding: 4.375rem 0;
    
    p:nth-of-type(odd) {
        font-weight: bold;
        line-height: 1.875rem;
    }

        p:nth-of-type(even) {
            height: 3.4375rem;
        }
    
        div:nth-of-type(even) {
        margin-left: 3.125rem;
    }
}

.portfolio-section {
    background-color: $cloud-burst;
    height: 40rem;
    section {
        position: relative;
        width: 50%;
        &.projects {
            height: 12.5rem;
            width: 1250px;
            margin: 0 auto;

            div {
                width: 26.875rem;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
                transition: .5s ease;
                background-color: $color-text-dark;
                
                p {
                    color: $color-body;
                    text-align: center;
                    margin-top: 2.5rem;
                }

                button { 
                    background-color: $color-body;
                    padding: 0;
                    width: 6.25rem;
                    border: none;
                    border-radius: 0.125rem;
                    font-size: 1.25rem;
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    text-align: center;
                    opacity: 1;
                    a {
                        text-decoration: none;
                        font-size: 0.9375rem;
                        color: $color-text-dark;
                    }
                }
            }

            section {
                padding: 0;
                width: 500px;
                margin: 0;
            }
        }
    }
}

.blog {
    width: 300px;
}

  .container:hover .overlay {
    opacity: 0.9;
}

.contact-me {
    height: 12.5rem;
    text-align: center;
    padding-top: 1.25rem;
    background-image: linear-gradient($color-shadow-light, $color-shadow-light), url(../images/qd6ZpU.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    i {
        font-size: 1.875rem;
        margin: 1.875rem;
        color: $color-body;
        border-radius: 50%;
        background-color: $cloud-burst;
        height: 3.75rem;
        width: 3.75rem;
        padding: 1rem;
        &:hover {
            background-color: $color-prim;
            color:  $cloud-burst;
        }
    }

    .menu-items {
        font-size: 1.0625rem;
        word-spacing: 1.875rem;
        a {
            color: $color-prim;
            text-decoration: none;
            font-weight: bold;
            letter-spacing: 0.1875rem;

        }
    }
}








.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}