$azure : #f0ffff;
$black : #000;
$baby-blue : #909AB5;

$color-text-light : $azure;
$color-text-dark : $black;
$color-text-blue : $baby-blue;


$color-shadow : rgba($black, .6);
$color-shadow-light : rgba($baby-blue, .7);