$azure : #f0ffff;
$black : #000;
$baby-blue : #909AB5;
$light-blue: #98adc2;
$yellow : #ffff00;
$cloud-burst: rgb(61, 71, 95);


$color-prim: $yellow;
$color-sec: $cloud-burst;

$color-text-light : $azure;
$color-text-dark : $black;
$color-text-blue : $baby-blue;


$color-shadow : rgba($black, .6);
$color-shadow-light : rgba($baby-blue, .7);